Repository Adnan7389/freelancer-dashboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @your-github-username/engineering, @your-github-username/frontend-team, @your-github-username/backend-team, @your-github-username/docs-team, @your-github-username/security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @your-github-username

# Specific owners for certain paths
/.github/ @your-github-username/engineering
/src/ @your-github-username/frontend-team
/api/ @your-github-username/backend-team

# Documentation
/README.md @your-github-username/docs-team
/CONTRIBUTING.md @your-github-username/docs-team
/SECURITY.md @your-github-username/security-team

feat: add webhook handler and test scripts for Lemon Squeezy integration
  api/lemon-webhook.js
  scripts/check-env.js
  scripts/check-webhook-ready.js
  scripts/run-test.js
  scripts/test-webhook.js
Owners: @your-github-username/backend-team, @your-github-username

Update webhook for Vercel serverless
  api/lemon-webhook.js
  lib/firebase-admin.js
Owners: @your-github-username/backend-team, @your-github-username

fix(webhook): implement firestore update logic
  api/lemon-webhook.js
Owners: @your-github-username/backend-team

fix(webhook): correctly process payment events
  api/lemon-webhook.js
Owners: @your-github-username/backend-team

fix(vercel): make webhook endpoint public
  vercel.json
Owners: @your-github-username

revert: remove invalid public property from vercel.json
  vercel.json
Owners: @your-github-username

fix(webhook): improve error handling and CORS support
  .dockerignore
  CONTRIBUTING.md
  api/cancel-subscription.js
  api/lemon-webhook.js
  api/reactivate-subscription.js
  api/subscription.js
  package-lock.json
  package.json
  scripts/check-env.js
  server.prod.js
  src/components/Subscription/CancelSubscriptionButton.jsx
  src/hooks/useSubscription.js
  src/pages/Subscription/SubscriptionPage.jsx
  vercel.json
  vite.config.js
Owners: @your-github-username, @your-github-username/docs-team, @your-github-username/backend-team, @your-github-username/frontend-team

feat: add ForgotPasswordPage component with password reset functionality
  src/pages/ForgotPasswordPage.jsx
Owners: @your-github-username/frontend-team

feat: add ResetPasswordPage component for handling password resets
  src/pages/ResetPasswordPage.jsx
Owners: @your-github-username/frontend-team

feat: add Forgot Password link to login form
  src/components/AuthForm.jsx
Owners: @your-github-username/frontend-team

feat: add routes for password reset pages
  src/App.jsx
Owners: @your-github-username/frontend-team

feat: add lazy loading for password reset pages
  src/lazy.jsx
Owners: @your-github-username/frontend-team

feat(auth): implement dual fallback for password reset email
  src/pages/ForgotPasswordPage.jsx
Owners: @your-github-username/frontend-team

feat(auth): enhance password reset page
  src/pages/ResetPasswordPage.jsx
Owners: @your-github-username/frontend-team

chore(deps): update dependencies
  package-lock.json
  package.json
Owners: @your-github-username

feat(auth): improve error handling in AuthForm
  src/components/AuthForm.jsx
Owners: @your-github-username/frontend-team

fix: delete user data from Firestore on account deletion
  src/components/Settings.jsx
Owners: @your-github-username/frontend-team

feat: enhance mobile responsiveness of Navbar
  src/components/Navbar.jsx
Owners: @your-github-username/frontend-team

feat: enhance LandingNavbar mobile responsiveness
  src/components/LandingNavbar.jsx
Owners: @your-github-username/frontend-team

feat: add Vite plugin for sitemap and robots.txt generation
  plugins/vite-plugin-sitemap.js
Owners: @your-github-username

chore: update Vite config to use new sitemap plugin
  vite.config.js
Owners: @your-github-username

chore: update package.json scripts for new build process
  package-lock.json
  package.json
Owners: @your-github-username

feat: add robots.txt for search engine crawling
  public/robots.txt
Owners: @your-github-username

feat: update App.jsx with global SEO meta tags and structured data
  src/App.jsx
Owners: @your-github-username/frontend-team

feat: enhance Home page with SEO meta tags and structured data
  src/pages/Home.jsx
Owners: @your-github-username/frontend-team

feat: update Pricing page with SEO meta tags and product schema
  src/pages/PricingPage.jsx
Owners: @your-github-username/frontend-team

feat: enhance FAQ page with SEO meta tags and FAQPage schema
  src/pages/FAQPage.jsx
Owners: @your-github-username/frontend-team

fix: update react-helmet-async to 2.0.5-next for React 19 compatibility
  package-lock.json
  package.json
Owners: @your-github-username

refactor: replace react-helmet-async with react-helmet
  package.json
  src/App.jsx
  src/components/HelmetWrapper.jsx
  src/pages/FAQPage.jsx
  src/pages/Home.jsx
  src/pages/PricingPage.jsx
Owners: @your-github-username, @your-github-username/frontend-team

fix: switch to react-helmet-async for better React 18+ compatibility
  package-lock.json
  package.json
  src/App.jsx
  src/components/HelmetWrapper.jsx
Owners: @your-github-username, @your-github-username/frontend-team

chore: update vercel.json to use --legacy-peer-deps for React 19 compatibility
  vercel.json
Owners: @your-github-username

chore: update build configuration for Vercel
  .npmrc
  package.json
  vercel.json
Owners: @your-github-username

docs: Add complete README with features, tech stack, installation steps, and acknowledgments
  README.md
Owners: @your-github-username/docs-team

feat: add themed favicon & PWA assets
  index.html
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-48x48.png
  public/favicon.ico
  public/favicon.svg
  public/icon-192.png
  public/icon-512.png
  public/site.webmanifest
Owners: @your-github-username

fix(vercel): ensure static files (site.webmanifest) are served before SPA rewrite
  vercel.json
Owners: @your-github-username

Fix logical bugs in AnalyticsPage calculations, resolve totalEarnings undefined error, and improve mobile usability
  src/pages/AnalyticsPage.jsx
Owners: @your-github-username/frontend-team

feat: add theme switcher with system preference detection and persistence
  index.html
  src/App.jsx
  src/components/ThemeToggle.jsx
  src/context/ThemeContext.jsx
  src/hooks/useTheme.jsx
  src/index.css
  src/main.jsx
  tailwind.config.js
Owners: @your-github-username, @your-github-username/frontend-team

feat(components): add dark mode support for IncomeForm and AuthForm
  src/components/AuthForm.jsx
  src/components/IncomeForm.jsx
Owners: @your-github-username/frontend-team

feat(components): add dark mode support for components
  src/components/AnalyticsSummary.jsx
  src/components/Footer.jsx
  src/components/IncomeChart.jsx
  src/components/IncomeDataTools.jsx
Owners: @your-github-username/frontend-team

feat(components): add dark mode support for components
  src/components/IncomeList.jsx
  src/components/IncomePieChart.jsx
  src/components/IncomeRow.jsx
  src/components/LandingNavbar.jsx
Owners: @your-github-username/frontend-team
